body {
/*  min-height: 2000px; */
  padding-top: 60px;
  padding-bottom: 40px;
}

h1 {
    margin-top: 0px;
    /* 56px navbar + 20px for spacing + extra for line splits */
    scroll-margin-top: 116px;
}

h2, h3, h4, h5, h6 {
    /* 56px navbar + 20px for spacing */
    scroll-margin-top: 116px;
}
