<div style="text-align: center;">
  <span class="btn btn-primary btn-lg" style="margin: 0.3ex; padding: 0.8ex 1.2ex; text-align: center;">
    <div>
      <big>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      To new students and people on the wait list:
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <br>
      <br>
      Ground school is on Wednesdays @ 7:00-8:00 pm<br>
      in 50 Barrows Hall, UC Berkeley<br>
      <br>
      First lecture on October 3!<br>
      <br>
      Anyone is welcome to the ground school<br>
      (also those who didn't get in through the lottery)<br>
      </big>
      <br>
      <small>
	(Last updated September 27, 2018 @ 7:45pm)
      </small>
    </div>
  </span>
</div>
<br>
