<div style="text-align: center;">
  <span class="btn btn-primary btn-lg" style="margin: 0.3ex; padding: 0.8ex 1.2ex; text-align: center;">
    <div>
      <big>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      To new students and people on the wait list:
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <br>
      <br>
      Ground school is on Wednesdays September 24 - December 3 (excluding November 26)<br>
      in 262 Dwinelle Hall, UC Berkeley<br>
      <br>
      First lecture on September 24 at 7-8 pm, all subsequent lectures will be at 8-9 pm!<br>
      <br>
      Anyone is welcome to the ground school<br>
      (also those who didn't get in through the lottery)<br>
      </big>
      <br>
      <small>
	(Last updated September 24, 2025)
      </small>
    </div>
  </span>
</div>
<br>
