<div style="text-align: center;">
  <a href="join/index.html" class="btn btn-primary btn-lg" style="margin: 0.3ex; padding: 0.8ex 1.2ex; text-align: center;">
    <div>
      <big>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      Lessons</s>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      </big>
      <br>
      <br>
      Unfortunately, for the first time in our history,<br>
      we were not able to provide lessons this fall.<br>
      <br>
      We hope to be able to provide lessons during<br>
      the spring semester. Please check back here<br>
      as early as mid-January 2018 for updates.<br>
      <br>
      </big>
      <small>
      (Last updated Nov 15, 2017)
      </small>
    </div>
  </a>
</div>
<br>
