<div style="text-align: center;">
  <a href="join/index.html" class="btn btn-primary btn-lg" style="margin: 0.3ex; padding: 0.8ex 1.2ex; text-align: center;">
    <div>
      <big>
      <span class="glyphicon glyphicon-heart"></span>
      Signup for 2016
      <span class="glyphicon glyphicon-heart"></span>
      </big>
      <br>
      <br>
      The signup meeting for this year will be on<br>
      <br>
      <big>
        <strong>Wed Sept 28<sup>*</sup>, 2016 @ 8:00 pm</strong><br>
      </big>
      in 101 Moffitt Library, UC Berkeley<br>
      <br>
      Click for more info ...<br>
      <br>
      </big>
      <small>
      <sup>*</sup> New date: was 'Sept 21'<br>
      (Last updated Sept 26, 2016 @ 6:10 pm)
      </small>
    </div>
  </a>
</div>
<br>
