<div style="text-align: center;">
  <a href="join/index.html" class="btn btn-primary btn-lg" style="margin: 0.3ex; padding: 0.8ex 1.2ex; text-align: center;">
    <div>
      <big>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      Signup for 2015
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <br>
      <br>
      Wed Sept 16, 2015 @ evening on UC Berkeley<br>
      <em>EXACT TIME AND LOCATION TO BE ANNOUNCED</em><br>
      In person only!<br>
      <br>
      Click for details...
      </big>
    </div>
  </a>
</div>
<br>
