<div style="text-align: center;">
  <a href="join/index.html" class="btn btn-primary btn-lg" style="margin: 0.3ex; padding: 0.8ex 1.2ex; text-align: center;">
    <div>
      <big>
      <span class="glyphicon glyphicon-heart"></span>
      Signup for Fall 2018
      <span class="glyphicon glyphicon-heart"></span>
      </big>
      <br>
      <br>
      The signup meeting for Fall 2018 will be on<br>
      <br>
      <big>
        <strong>[PRELIMARY]</strong><br>
	  Wed September 26, 2018 @ evening<br>
	<strong>[PRELIMARY]</strong><br>
      </big>
      on UC Berkeley campus<br>
      <br>
      Click for more info ...<br>
      <br>
      </big>
      <small>
      (Last updated September 4, 2018 @ 10:50 am)
      </small>
    </div>
  </a>
</div>
<br>
